In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
path = "../data/online_course_completion.csv"

df = pd.read_csv(path)
df.head()   # sanity check

,age,continent,country,education_level,hours_per_week,num_logins_last_month,videos_watched_pct,assignments_submitted,discussion_posts,is_working_professional,preferred_device,completed_course,height_cm,weight_kg,num_siblings,has_pet,favorite_color,birth_month
0,56,Asia,Japan,Bachelors,9.116071,23,0.507679,7,1,1,mobile,0,175.0,54.1,2,0,red,May
1,46,Africa,Kenya,No Formal Education,0.454712,19,0.631424,1,1,1,desktop,0,168.6,57.7,3,0,black,Sep
2,32,South America,Brazil,Bachelors,4.946724,22,0.424817,2,2,0,console,0,176.5,80.2,2,1,green,Jul
3,25,Africa,Nigeria,Bachelors,5.053960,24,0.318874,3,0,1,console,0,185.2,76.3,1,0,purple,Jun
4,38,Asia,India,Bachelors,9.870424,28,1.000000,6,0,0,mobile,1,167.7,76.3,2,0,orange,Nov

In [31]:
# Dataset size
print("Shape (rows, columns):", df.shape)

# Columns
print("Columns:", df.columns.tolist())

# Info: types + missing values
print("\nINFO:")
df.info()

# Basic numeric stats
print("\nDESCRIBE:")
print(df.describe())

# Target distribution
print("\nTarget counts (completed_course):")
print(df['completed_course'].value_counts())
print("\nTarget proportion:")
print(df['completed_course'].value_counts(normalize=True))

Shape (rows, columns): (500000, 18)
Columns: ['age', 'continent', 'country', 'education_level', 'hours_per_week', 'num_logins_last_month', 'videos_watched_pct', 'assignments_submitted', 'discussion_posts', 'is_working_professional', 'preferred_device', 'completed_course', 'height_cm', 'weight_kg', 'num_siblings', 'has_pet', 'favorite_color', 'birth_month']

INFO:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   age                      500000 non-null  int64
 1   continent                500000 non-null  object
 2   country                  500000 non-null  object
 3   education_level          475000 non-null  object
 4   hours_per_week           500000 non-null  float64
 5   num_logins_last_month    500000 non-null  int64
 6   videos_watched_pct       475000 non-null  float64
 7   assignments_submitted    500000 non-null  int64
 8   discussion_posts         500000 non-null  int64
 9   is_working_professional  500000 non-null  int64
 10  preferred_device         475000 non-null  object
 11  completed_course         500000 non-null  int64
 12  height_cm                500000 non-null  float64
 13  weight_kg                500000 non-null  float64
 14  num_siblings             500000 non-null  int64
 15  has_pet                  500000 non-null  int64
 16  favorite_color           500000 non-null  object
 17  birth_month              500000 non-null  object
dtypes: float64(4), int64(8), object(6)
memory usage: 68.7+ MB

DESCRIBE:
                 age  hours_per_week  num_logins_last_month  \
count  500000.000000   500000.000000          500000.000000
mean       38.521272        5.020481              20.013784
std        12.122847        2.448415               4.477017
min        18.000000        0.000000               3.000000
25%        28.000000        3.312457              17.000000
50%        39.000000        4.997334              20.000000
75%        49.000000        6.687369              23.000000
max        59.000000       15.000000              44.000000

       videos_watched_pct  assignments_submitted  discussion_posts  \
count       475000.000000          500000.000000     500000.000000
mean             0.598154               4.498408          1.998840
std              0.195690               2.870525          1.414253
min              0.000000               0.000000          0.000000
25%              0.464831               2.000000          1.000000
50%              0.599735               4.000000          2.000000
75%              0.734713               7.000000          3.000000
max              1.000000               9.000000         13.000000

       is_working_professional  completed_course      height_cm  \
count            500000.000000     500000.000000  500000.000000
mean                  0.600254          0.249822     169.988282
std                   0.489847          0.432910      10.004732
min                   0.000000          0.000000     121.700000
25%                   0.000000          0.000000     163.200000
50%                   1.000000          0.000000     170.000000
75%                   1.000000          0.000000     176.700000
max                   1.000000          1.000000     215.600000

           weight_kg   num_siblings        has_pet
count  500000.000000  500000.000000  500000.000000
mean       69.969469       1.998080       0.400652
std        14.998697       1.414874       0.490031
min         1.000000       0.000000       0.000000
25%        59.800000       1.000000       0.000000
50%        70.000000       2.000000       0.000000
75%        80.100000       3.000000       1.000000
max       140.200000      11.000000       1.000000

Target counts (completed_course):
completed_course
0    375089
1    124911
Name: count, dtype: int64

Target proportion:
completed_course
0    0.750178
1    0.249822
Name: proportion, dtype: float64

In [33]:
# Count missing values per column
missing_counts = df.isna().sum()
print("Missing values per column:\n", missing_counts)

# Percentage of missing values
missing_pct = df.isna().mean() * 100
print("\nMissing % per column:\n", missing_pct)

Missing values per column:
 age                            0
continent                      0
country                        0
education_level            25000
hours_per_week                 0
num_logins_last_month          0
videos_watched_pct         25000
assignments_submitted          0
discussion_posts               0
is_working_professional        0
preferred_device           25000
completed_course               0
height_cm                      0
weight_kg                      0
num_siblings                   0
has_pet                        0
favorite_color                 0
birth_month                    0
dtype: int64

Missing % per column:
 age                        0.0
continent                  0.0
country                    0.0
education_level            5.0
hours_per_week             0.0
num_logins_last_month      0.0
videos_watched_pct         5.0
assignments_submitted      0.0
discussion_posts           0.0
is_working_professional    0.0
preferred_device           5.0
completed_course           0.0
height_cm                  0.0
weight_kg                  0.0
num_siblings               0.0
has_pet                    0.0
favorite_color             0.0
birth_month                0.0
dtype: float64

In [39]:
df['videos_watched_pct'] = df['videos_watched_pct'].fillna(df['videos_watched_pct'].median())

In [43]:
df['education_level'] = df['education_level'].fillna(df['education_level'].mode()[0])
df['preferred_device'] = df['preferred_device'].fillna(df['preferred_device'].mode()[0])

In [45]:
df.columns = (df.columns
              .str.strip()
              .str.lower()
              .str.replace(' ', '_')
              .str.replace('[^0-9a-zA-Z_]', '', regex=True))

In [47]:
df = df.loc[:, ~df.columns.str.contains(r'^unnamed')]